<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d755.2529930297098!2d77.50014231948948!3d28.676797025118393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cf332f7fb02e7%3A0x8edf508fc9128ab3!2sBlockchain%20Research%20Lab!5e0!3m2!1sen!2sin!4v1594323144455!5m2!1sen!2sin"
  width="100%"
  height="350"
  frameborder="0"
  style="border: 0; margin-bottom: -150px; z-index: -1;"
  allowfullscreen=""
  aria-hidden="false"
  tabindex="0"
></iframe>
<section class="footer" style="margin-top: 9rem;" id="contact">
  <div class="container">
    <div class="container" style="margin-top: -10rem; max-width: 80%;">
      <div
        class="row justify-content-center align-self-center my-5"
        style="
          position: relative;
          background: #e7f3fa 0% 0% no-repeat padding-box;
          box-shadow: 0px 11px 30px #0000001a;
          border-radius: 10px;
          opacity: 1;
        "
      >
        <div
          class="col-md-8 text-center text-md-right my-5"
          style="color: #1788cb; font: Bold 40px/48px SF Pro Display;"
        >
          Want To Join Us Or Just Want To Say "Hello"?
        </div>
        <div class="col-md-4 text-center my-5 align-self-center">
          <button
            class="btn btn-primary p-2"
            style="background-color: #1788cb;"
            data-toggle="modal"
            data-target="#contactUs"
          >
            Get In Touch
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 text-center text-center text-md-left">
        <div class="card bg-transparent border-0">
          <img
            class="card-img-top"
            src="../../assets/Group2.png"
            class="m-3 align-self-left"
            width="175"
            id="image-logo"
            alt="Card image cap"
          />
          <div class="card-body">
            <h6 class="card-title">Develop.Deploy.Distribute</h6>
            <p class="card-text">
              Bringing in transparency and efficiency into systems
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-9" style="place-self: center;">
        <div class="row">
          <div class="col-md-12">
            <!-- <div class="col-md-3 my-4 text-center"> -->
            <h2 class="pl-md-5 pb-4 text-center text-md-left">Contact Us</h2>
            <!-- <i class="fa fa-arrow-right"></i> -->
            <!-- </div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 text-center">
            <i class="fa fa-phone pb-3"></i>
            <p>+91 727 539 0010</p>
            <p>+91 812 654 4009</p>
          </div>
          <div class="col-md-4 text-center">
            <i class="fa fa-clock-o pb-3"></i>
            <p>9:00am-5:00pm (Mon-Fri)</p>
            <p>Sat-Sun (Closed)</p>
          </div>
          <div class="col-md-4 text-center">
            <i class="fa fa-envelope-o pb-3"></i>
            <p>blockchain@akgec.ac.in</p>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="line row" style="align-items: center;">
      <div class="col-md-6">
        <p>
          <i class="fa fa-copyright" style="font-size: 15px;"></i> Blockchain
          Research Lab 2020.
        </p>
      </div>

      <div class="icons col-md-6" style="text-align-last: right;">
        <a
          href="https://www.facebook.com/BlockchainResearchLab/?ref=br_rs"
          target="_blank"
          ><i class="fa fa-facebook text-center" style="width: 3rem;"></i
        ></a>
        <a href="https://www.instagram.com/brl_akgec/" target="_blank"
          ><i class="fa fa-instagram"></i
        ></a>
        <a
          href="https://medium.com/blockchain-research-lab-akgec"
          target="_blank"
          ><i class="fa fa-medium"></i
        ></a>
        <a
          href="https://www.linkedin.com/company/blockchain-research-lab/"
          target="_blank"
          ><i class="fa fa-linkedin"></i
        ></a>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="contactUs"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div
      class="modal-dialog modal-dialog-centered"
      role="document"
      style="color: black;"
    >
      <div
        class="modal-content"
        style="background: #e7f3fa 0% 0% no-repeat padding-box;"
      >
        <div class="modal-header">
          <h5
            class="modal-title"
            id="exampleModalLabel"
            style="
              color: #1788cb;
              font: Bold 40px/48px Lexend Deca, sans-serif;
            "
          >
            Contact Us
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--Section description-->
          <div class="row">
            <!--Grid column-->
            <div class="col-md-12 mb-md-0 mb-5">
              <form
                #f="ngForm"
                id="contact-form"
                name="contact-form"
                action="mail.php"
                [formGroup]="contactForm"
                method="POST"
                (ngSubmit)="onSubmit(f)"
              >
                <!--Grid row-->
                <div class="row">
                  <!--Grid column-->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <label for="name" class="">Your name</label>
                      <input
                        type="text"
                        id="name"
                        name="name"
                        class="form-control"
                        formControlName="name"
                        required
                      />
                      <small
                        class="text-danger"
                        *ngIf="fval.name.errors?.required && fval.name.touched"
                        >Name is Required</small
                      >
                    </div>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <label for="email" class="">Your email</label>
                      <input
                        type="text"
                        id="email"
                        name="email"
                        class="form-control"
                        formControlName="email"
                        required
                      />
                      <small
                        class="text-danger"
                        *ngIf="
                          fval.email.errors?.required && fval.email.touched
                        "
                        >Email is Required</small
                      >
                      <small
                        class="text-danger"
                        *ngIf="fval.email.errors?.email"
                        >Invalid Email Address</small
                      >
                    </div>
                  </div>
                  <!--Grid column-->
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row my-2">
                  <div class="col-md-12">
                    <div class="md-form mb-0">
                      <label for="subject" class="">Subject</label>
                      <input
                        type="text"
                        id="subject"
                        name="subject"
                        class="form-control"
                        formControlName="subject"
                        required
                      />
                      <small
                        class="text-danger"
                        *ngIf="
                          fval.subject.errors?.required && fval.subject.touched
                        "
                        >Subject Cannot be Empty</small
                      >
                    </div>
                  </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row mb-3">
                  <!--Grid column-->
                  <div class="col-md-12">
                    <div class="md-form">
                      <label for="message">Your message</label>
                      <textarea
                        type="text"
                        id="message"
                        name="message"
                        rows="2"
                        class="form-control md-textarea"
                        formControlName="message"
                        required
                      ></textarea>
                      <small
                        class="text-danger"
                        *ngIf="
                          fval.message.errors?.required && fval.message.touched
                        "
                        >Kindly enter your Query!</small
                      >
                    </div>
                  </div>
                </div>
                <!--Grid row-->
                <div style="text-align: -webkit-center;">
                  <re-captcha
                    (resolved)="resolved($event)"
                    formControlName="recaptchaReactive"
                    siteKey="6LcsZbsZAAAAAMuahf8xNowvq0ds90IXtUMtgymH"
                  >
                  </re-captcha>
                </div>
                <p
                  class="text-justify w-responsive mx-auto mt-3"
                  style="font-size: small;"
                >
                  Please do not hesitate to contact us directly. Our team will
                  come back to you within a matter of hours to help you.
                </p>
                <div class="status"></div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="!contactForm.valid"
                  >
                    Send
                  </button>
                </div>
              </form>
            </div>
            <!--Grid column-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
