<section style="background: #e7f3fa 0% 0% no-repeat padding-box;">
  <div class="container align-self-center justify-content-center py-5">
    <div class="row h-100">
      <div class="col-md-6 d-flex align-self-center justify-content-center">
        <div style="text-align: center;">
          <span class="card">
            <img src="../../assets/4proposer.jpeg" width="121" />
          </span>
          <span class="card"
            ><img src="../../assets/GoRetails.jpeg" width="121"
          /></span>
          <span class="card"
            ><img src="../../assets/cloudCoder.jpeg" width="121"
          /></span>
          <span class="card"
            ><img src="../../assets/BE-FRESH-GROCERY.png" width="121"
          /></span>
          <span class="card"
            ><img src="../../assets/healthcare.png" width="121"
          /></span>
          <span class="card"
            ><img src="../../assets/cloudCoder.jpeg" width="121"
          /></span>
        </div>
      </div>
      <div
        class="col-md-6 my-5 d-flex align-self-center justify-content-center"
      >
        <div class="container">
          <div class="row my-1">
            <div class="col-md-12">
              <h6>CLIENTS</h6>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-md-12">
              <h2 style="color: #1788bc;">
                Get Tips And Tricks On How To Achieve Your Goals.
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>
                At Blockchain Research Lab, we look forward with the advancement
                in Blockchain Technology and it's recent changes. Since 2019,
                we've tried to provide a high quality service as we grow, our
                commitment to the needs remains the key driving force behind the
                establishment of our Lab.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
