<app-nav></app-nav>
<section>
  <div
    id="particles-js"
    style="
      position: absolute;
      margin-top: -2rem;
      margin-left: -2rem;
      height: 200vh !important;
      z-index: -1;
    "
    class="w-100 header-particles"
  ></div>
  <div class="container" style="overflow-x: hidden;">
    <div class="row">
      <div
        class="col-12 text-center my-5 font-weight-bold"
        style="color: #2788cc;"
      >
        <h1 style="backdrop-filter: blur(5px);">RELOAD '20</h1>
        <p style="backdrop-filter: blur(5px);">Registration</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 py-2">
        <img
          src="../../assets/reload.svg"
          style="width: inherit; backdrop-filter: blur(5px);"
        />
      </div>
      <div
        class="col-md-6 align-self-center"
        style="backdrop-filter: blur(5px);"
      >
        <form
          class="form-ex"
          [formGroup]="userprofileForms"
          (ngSubmit)="onSubmit()"
        >
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="name"
                  autocomplete="off"
                />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>BRANCH</mat-label>
                <mat-select formControlName="branch">
                  <mat-option value="CS">CS</mat-option>
                  <mat-option value="CSE">CSE</mat-option>
                  <mat-option value="IT">IT</mat-option>
                  <mat-option value="CS/IT">CS/IT</mat-option>
                  <mat-option value="ECE">ECE</mat-option>
                  <mat-option value="OTHER">OTHER</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Roll No</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="rollNumber"
                  autocomplete="off"
                />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Student No.</mat-label>
                <input
                  matInput
                  type="number"
                  autocomplete="off"
                  formControlName="studentNumber"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>College Email</mat-label>
                <input
                  matInput
                  type="email"
                  formControlName="email"
                  autocomplete="off"
                />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Skills</mat-label>
                <input
                  matInput
                  type="text"
                  autocomplete="off"
                  formControlName="skills"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Whatsapp No.</mat-label>
                <input
                  matInput
                  type="number"
                  autocomplete="off"
                  formControlName="whatsappNumber"
                />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Phone No.</mat-label>
                <input
                  matInput
                  type="number"
                  autocomplete="off"
                  formControlName="phoneNumber"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Github Link</mat-label>
                <input
                  matInput
                  type="text"
                  autocomplete="off"
                  formControlName="github"
                />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Behance link</mat-label>
                <input
                  matInput
                  type="text"
                  autocomplete="off"
                  formControlName="behance"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12" style="text-align: -webkit-center;">
              <re-captcha
                (resolved)="resolved($event)"
                formControlName="recaptchaReactive"
                siteKey="6LcsZbsZAAAAAMuahf8xNowvq0ds90IXtUMtgymH"
              >
              </re-captcha>
            </div>
          </div>
          <div class="row py-4">
            <div class="col-12 text-center">
              <button
                class="btn btn-primary align-self-center p-2"
                style="background-color: #1788cb;"
                type="submit"
              >
                SUBMIT
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>