<app-nav></app-nav>
<section>
  <div
    id="particles-js"
    style="
      position: absolute;
      margin-top: -2rem;
      margin-left: -2rem;
      height: 600vh !important;
      z-index: -1;
    "
    class="w-100 header-particles"
  ></div>
  <div class="container" style="overflow-x: hidden;">
    <div class="row">
      <div
        class="col-12 text-center my-5 font-weight-bold"
        style="color: #2788cc;"
      >
        <h1 style="backdrop-filter: blur(5px);">REGISTRATION</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">saidjvasdjfnds</div>
      <div class="col-md-6">sdasdgsd</div>
    </div>
  </div>
</section>
<app-footer></app-footer>
