section {
  margin-bottom: 150px;
}

.brl h1 {
  font-size: 50px;
}
.frm {
  margin: 50px 0;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.example-full-width {
  padding: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

mat-form-field.mat-form-field {
  width: inherit;
}
