
<app-nav></app-nav>

<h1 class="disc">OUR TEAM</h1>
<section class="row" >
  <div class="container" >
<div class="card1" *ngFor="let com of results">
    <div class="front"><img src="{{com.Image}}" style="width: 100%; height: 100%;"></div>
    <div class="back">
      <div class="details">
        <h4>{{com.Name}}</h4>
        <h6><span>{{com.Tech}}</span></h6>
        <div class="icons">
          <a href="{{com.Facebook}}" target="_blank"><div class="fa fa-facebook"></div></a>
          <a href="{{com.Insta}}" target="_blank"><div class="fa fa-instagram"></div></a>
          <a href="{{com.Linkedin}}" target="_blank"><div class="fa fa-linkedin"></div></a>
          <a href="{{com.Github}}" target="_blank"><div class="fa fa-github"></div></a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- </div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/PrakharAgarwal.jpg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Prakhar Agarwal</h3>
      <h5><span>Frontend Developer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook"></div>
        <div class="fa fa-instagram"></div>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/ShaktiJaiswal.jpg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Shakti Jaiswal</h3>
      <h5><span>Frontend Developer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook"></div>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/AmolSaini.jpg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Amol Saini</h3>
      <h5><span>Backend Developer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook"></div>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/AbhishekGupta.jpg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Abhishek Gupta</h3>
      <h5><span>Backend Developer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook"></div>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/Aishwarya.jpg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Aishwary Ashutosh</h3>
      <h5><span>Frontend Developer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook"></div>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/DeepeshKumar.jpeg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Deepesh Kumar</h3>
      <h5><span>Mobile App Developer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook"></div>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/AditiSinha.jpg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Aditi Sinha</h3>
      <h5><span>Mobile App Developer</span></h5>
      <div class="icons">
        <a href=""><div class="fa fa-facebook"></div></a>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/UtkarshJaiswal.jpg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Utkarsh Jaiswal</h3>
      <h5><span>UI/UX Designer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook" href="#"></div>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/MuditAgarwal.jpg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Mudit Agarwal</h3>
      <h5><span>Mobile App Developer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook" href="#"></div>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/RavindraKumar.jpg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Ravindra Kumar</h3>
      <h5><span>Frontend Developer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook" href="#"></div>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/SiddharthaAnand.jpg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Siddharth Anand</h3>
      <h5><span>UI/UX Designer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook" href="#"></div>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/Ashish.jpg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Ashish Varshney</h3>
      <h5><span>UI/UX Designer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook" href="#"></div>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/ShraddhaMishra.jpg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Shraddha Mishra</h3>
      <h5><span>UI/UX Designer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook" href="#"></div>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/AbhimanyuBhardwaj.jpg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Abhimanyu Bhardwaj</h3>
      <h5><span>Backend Developer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook" href="#"></div>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/ShikharAgarwal.jpeg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Shikhar Agarwal</h3>
      <h5><span>Backend Developer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook" href="#"></div>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/PramodJaiswal.jpg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Pramod Jaiswal</h3>
      <h5><span>Backend Developer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook" href="#"></div>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/UjjwalSharma.jpg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Ujjwal Sharma</h3>
      <h5><span>Backend Developer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook" href="#"></div>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/RachitAgarwal.jpg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Rachit Agarwal</h3>
      <h5><span>Frontend Developer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook" href="#"></div>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/HimanshiSingh.jpg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Himanshi Singh</h3>
      <h5><span>Frontend Developer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook" href="#"></div>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/PrakharPratap.jpg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Vishesh Dhawan</h3>
      <h5><span>Backend Developer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook" href="#"></div>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/VisheshDhawan.jpg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Vishesh Dhawan</h3>
      <h5><span>Backend Developer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook" href="#"></div>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/HimaniChauhan.jpg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Himani Chauhan</h3>
      <h5><span>Frontend Developer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook" href="#"></div>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/PalakAgarwal.jpg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Palak Agarwal</h3>
      <h5><span>Backend Developer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook" href="#"></div>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/HarshGupta.jpg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Harsh Gupta</h3>
      <h5><span>Mobile App Developer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook" href="#"></div>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/AmanSrivastav.jpg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Aman Srivastava</h3>
      <h5><span>UI/UX Developer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook" href="#"></div>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/AnshikaBajpai.jpg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Anshika Bajpai</h3>
      <h5><span>Mobile App Developer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook" href="#"></div>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/ShivamBisht.jpg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Shivam Bisht</h3>
      <h5><span>Mobile App Developer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook" href="#"></div>
      </div>
    </div>
  </div>
</div>
<div class="card1">
  <div class="front"><img src="https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/DeepikaMaurya.jpg" style="width: 100%; height: 100%;"></div>
  <div class="back">
    <div class="details">
      <h3>Deepika Maurya</h3>
      <h5><span>UI/UX Developer</span></h5>
      <div class="icons">
        <div class="fa fa-facebook" href="#"></div>
      </div>
    </div>
  </div>
</div>

</div> -->
<!-- </section> -->
<app-footer></app-footer>
