<!--nav for this page-->
<app-nav></app-nav>

<!--team part starts here-->
<section class="team" id="team">
  <h1><B>OUR TEAM</B></h1>
  <div class="container">
    <div class="container pt-5 pb-5">
      <div class="row pb-5">


        <div class="col-lg-3">
          <div class="gallery1-box">
          <div class="card bg-dark text-white">

             <img class="card-img" src="../../assets/shu.jpg">

             <div class="card-img-overlay ovl">
             <h4 class="card-title">Ravindra</h4>
             <p class="card-text">Frontend developer</p>
            <a href="https://www.facebook.com/login/device-based/regular/login/?login_attempt=1&lwv=110"> <i class="fa fa-facebook-official"></i></a>
            <a href="https://github.com/login?return_to=%2Fjoin"> <i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/onboarding/start/member-to-member-invitations/existing/"> <i class="fa fa-linkedin"></i></a>
             </div>
            </div>
        </div>
        </div>



        <div class="col-lg-3">
          <div class="gallery1-box">
          <div class="card bg-dark text-white">

             <img class="card-img" src="../../assets/shu.jpg">

             <div class="card-img-overlay ovl">
             <h4 class="card-title">Ravindra</h4>
             <p class="card-text">Frontend developer</p>
            <a href="https://www.facebook.com/login/device-based/regular/login/?login_attempt=1&lwv=110"> <i class="fa fa-facebook-official"></i></a>
            <a href="https://github.com/login?return_to=%2Fjoin"> <i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/onboarding/start/member-to-member-invitations/existing/"> <i class="fa fa-linkedin"></i></a>
             </div>
            </div>
        </div>
        </div>





        <div class="col-lg-3">
          <div class="gallery1-box">
          <div class="card bg-dark text-white">

             <img class="card-img" src="../../assets/shu.jpg">

             <div class="card-img-overlay ovl">
             <h4 class="card-title">Ravindra</h4>
             <p class="card-text">Frontend developer</p>
            <a href="https://www.facebook.com/login/device-based/regular/login/?login_attempt=1&lwv=110"> <i class="fa fa-facebook-official"></i></a>
            <a href="https://github.com/login?return_to=%2Fjoin"> <i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/onboarding/start/member-to-member-invitations/existing/"> <i class="fa fa-linkedin"></i></a>
             </div>
            </div>
        </div>
        </div>

        <div class="col-lg-3">
          <div class="gallery1-box">
          <div class="card bg-dark text-white">

             <img class="card-img" src="../../assets/shu.jpg"
             >
             <div class="card-img-overlay ovl">
             <h4 class="card-title">Ravindra</h4>
             <p class="card-text">Frontend developer</p>
            <a href="https://www.facebook.com/login/device-based/regular/login/?login_attempt=1&lwv=110"> <i class="fa fa-facebook-official"></i></a>
            <a href="https://github.com/login?return_to=%2Fjoin"> <i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/onboarding/start/member-to-member-invitations/existing/"> <i class="fa fa-linkedin"></i></a>
             </div>
            </div>
        </div>
        </div>




        <div class="col-lg-3">
          <div class="gallery1-box">
          <div class="card bg-dark text-white">

             <img class="card-img" src="../../assets/shu.jpg">

             <div class="card-img-overlay ovl">
             <h4 class="card-title">Ravindra</h4>
             <p class="card-text">Frontend developer</p>
            <a href="https://www.facebook.com/login/device-based/regular/login/?login_attempt=1&lwv=110"> <i class="fa fa-facebook-official"></i></a>
            <a href="https://github.com/login?return_to=%2Fjoin"> <i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/onboarding/start/member-to-member-invitations/existing/"> <i class="fa fa-linkedin"></i></a>
             </div>
            </div>
        </div>
        </div>





        <div class="col-lg-3">
          <div class="gallery1-box">
          <div class="card bg-dark text-white">

             <img class="card-img" src="../../assets/shu.jpg">

             <div class="card-img-overlay ovl">
             <h4 class="card-title">Ravindra</h4>
             <p class="card-text">Frontend developer</p>
            <a href="https://www.facebook.com/login/device-based/regular/login/?login_attempt=1&lwv=110"> <i class="fa fa-facebook-official"></i></a>
            <a href="https://github.com/login?return_to=%2Fjoin"> <i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/onboarding/start/member-to-member-invitations/existing/"> <i class="fa fa-linkedin"></i></a>
             </div>
            </div>
        </div>
        </div>





        <div class="col-lg-3">
          <div class="gallery1-box">
          <div class="card bg-dark text-white">

             <img class="card-img" src="../../assets/shu.jpg">

             <div class="card-img-overlay ovl">
             <h4 class="card-title">Ravindra</h4>
             <p class="card-text">Frontend developer</p>
            <a href="https://www.facebook.com/login/device-based/regular/login/?login_attempt=1&lwv=110"> <i class="fa fa-facebook-official"></i></a>
            <a href="https://github.com/login?return_to=%2Fjoin"> <i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/onboarding/start/member-to-member-invitations/existing/"> <i class="fa fa-linkedin"></i></a>
             </div>
            </div>
        </div>
        </div>




        <div class="col-lg-3">
          <div class="gallery1-box">
          <div class="card bg-dark text-white">

             <img class="card-img" src="../../assets/shu.jpg">

             <div class="card-img-overlay ovl">
             <h4 class="card-title">Ravindra</h4>
             <p class="card-text">Frontend developer</p>
            <a href="https://www.facebook.com/login/device-based/regular/login/?login_attempt=1&lwv=110"> <i class="fa fa-facebook-official"></i></a>
            <a href="https://github.com/login?return_to=%2Fjoin"> <i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/onboarding/start/member-to-member-invitations/existing/"> <i class="fa fa-linkedin"></i></a>
             </div>
            </div>
        </div>
        </div>



      </div>
    </div>
    </div>
</section>
<app-footer></app-footer>
