<nav
  class="navbar navbar-expand-lg navbar-light justify-content-between sticky-top"
>
  <a routerLink="">
    <img src="../../assets/Group1.png" width="180px" />
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="navbarNav"
    style="justify-content: flex-end;"
  >
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/team">Team</a>
      </li>
      <li class="nav-item align-self-center mx-3">
        <button
          class="btn btn-primary p-2"
          style="background-color: #1788cb;"
          data-toggle="modal"
          data-target="#contactUs"
        >
          Contact Us
        </button>
      </li>
    </ul>
  </div>
</nav>
