<app-nav></app-nav>
<div
id="particles-js"
style="
  position: absolute;
  margin-top: -2rem;
  margin-left: -2rem;
  height: auto !important;
"
class="w-100 header-particles"
></div>
<div class="container-fluid py-2 px-5" style="overflow-x: hidden;">
<h3 class="text-center mb-5">Our Portfolio</h3>
<div class="row h-100" data-aos="fade-left">
    <div class="col-md-6">
        <img src="../../assets/Group 83@2x.png">
    </div>
    <div class="col-md-6 pr-5 pt-3 text-left ">
        <h3>Sed tamen intellego quid velit.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <button
        class="btn btn-primary p-2"
        style="background-color: #1788cb;"
      >
        View Details >
      </button>
    </div>
</div>
<hr>
<div class="row h-100 flex-column-reverse flex-md-row" data-aos="fade-right">
    <div class="col-md-6 pr-5 pt-3 text-left" id="app_text">
        <h3>Sed tamen intellego quid velit.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <button
        class="btn btn-primary p-2"
        style="background-color: #1788cb;"
      >
        View Details >
      </button>
    </div>
    <div class="col-md-6 mt-1 d-flex justify-content-center " id="app_img_col">
        <img id="app_image" src="../../assets/kirana_app.jpeg">
    </div>
</div>
<hr>
<div class="row h-100" data-aos="fade-left">
    <div class="col-md-6 d-flex justify-content-start">
        <img src="../../assets/late_entry_portal.png">
    </div>
    <div class="col-md-6 pr-5 pt-3 text-left ">
        <h3>Sed tamen intellego quid velit.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <button
        class="btn btn-primary p-2"
        style="background-color: #1788cb;"
      >
        View Details >
      </button>
    </div>
</div>
<hr>
<div class="row h-100 flex-column-reverse flex-md-row" data-aos="fade-right">
    <div class="col-md-6 pr-5 pt-3 text-left " id="app_text">
        <h3>Sed tamen intellego quid velit.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <button
        class="btn btn-primary p-2"
        style="background-color: #1788cb;"
      >
        View Details >
      </button>
    </div>
    <div class="col-md-6 d-flex justify-content-center mt-1" id="app_img_col">
        <img id="app_image" src="../../assets/covid_app.jpeg">
    </div>
</div>
<hr>
<div class="row h-100" data-aos="fade-left">
  <div class="col-md-6 d-flex justify-content-start">
      <img src="../../assets/Group 84@2x.png">
  </div>
  <div class="col-md-6 pr-5 pt-3 text-left ">
      <h3>Sed tamen intellego quid velit.</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <button
      class="btn btn-primary p-2"
      style="background-color: #1788cb;"
    >
      View Details >
    </button>
  </div>
</div>
</div>

<app-footer></app-footer>