<app-nav></app-nav>
<section>
  <div
    id="particles-js"
    style="
      position: absolute;
      margin-top: -2rem;
      margin-left: -2rem;
      height: 600vh !important;
      z-index: -1;
    "
    class="w-100 header-particles"
  ></div>
  <div class="container" style="overflow-x: hidden;">
    <div class="row">
      <div
        class="col-12 text-center my-5 font-weight-bold"
        style="color: #2788cc;"
      >
        <h1 style="backdrop-filter: blur(5px);">OUR PORTFOLIO</h1>
      </div>
    </div>

    <div class="row py-5" data-aos="fade-left">
      <div class="col-md-6">
        <img src="../../assets/Group 83@2x.png" />
      </div>
      <div
        class="col-md-6 px-5 pt-3 text-left"
        style="backdrop-filter: blur(5px);"
      >
        <h3 style="color: #1788bc;">Semester Registration</h3>
        <p class="py-3 text-justify">
          Semester registration web portal is made to digitalize the new
          semester registration system our college AKGEC. Through this portal,
          students can easily register themselves for the new semester. It also
          provides a faculty dashboard to keep track of total students,
          registered students, and remaining ones. It is very useful for faculty
          as it provides various facilities like create students, manage
          students, can see all the registered students, and branch wise summary
          of the total, registered and remaining students.
        </p>
        <div class="text-right">
          <!-- <a
            href="http://sem-registration-akgec.herokuapp.com/home"
            target="_blank"
          > -->
          <button
            class="btn btn-primary"
            style="background-color: #1788cb; padding: 0.5rem 1rem 0.5rem 1rem;"
          >
            Coming Soon
          </button>
          <!-- </a> -->
        </div>
      </div>
    </div>
    <hr />
    <div class="row py-5 flex-column-reverse flex-md-row" data-aos="fade-right">
      <div
        class="col-md-6 px-5 pt-3 text-left"
        style="backdrop-filter: blur(5px);"
        id="app_text"
      >
        <h3 style="color: #1788bc;">Kirana Hub</h3>
        <p class="py-3 text-justify">
          Kirana Hub app is an online grocery delivery service. It primarily
          delivers grocery goods found in convenience stores, home essentials
          and food supplies to its customers. It is made in order to facilitate
          the daily needs of the customers. Customers use a mobile
          application to order groceries online. Then secure the items from
          their warehouse and deliver the items to the consumer. The delivery
          may be scheduled for any time of the day.
        </p>
        <div class="text-right">
          <a
            href="https://play.google.com/store/apps/details?id=shivgroceryapp.a7apps.com.shiv_grocery_app"
            target="_blank"
          >
            <button
              class="btn btn-primary"
              style="
                background-color: #1788cb;
                padding: 0.5rem 1rem 0.5rem 1rem;
              "
            >
              Visit
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-6 mt-1 d-flex justify-content-center" id="app_img_col">
        <img class="img-p" id="app_image" src="../../assets/kirana_app.jpeg" />
      </div>
    </div>
    <hr />
    <div class="row py-5" data-aos="fade-left">
      <div class="col-md-6 d-flex justify-content-start">
        <img class="img-p" src="../../assets/late_entry_portal.png" />
      </div>
      <div
        class="col-md-6 px-5 pt-3 text-left"
        style="backdrop-filter: blur(5px);"
      >
        <h3 style="color: #1788bc;">Late Entry Portal</h3>
        <p class="py-3 text-justify">
          AKGEC Late entry system is an online portal which keeps a track of
          late entries. The dashboard shows the total count of users, students,
          and entries. An authenticated person can create or manage users,
          students, and entries as well. Users can analyze the daily reports. A
          final report is also maintained in the portal which can be sent to all
          HODs and Administrators in a particular format.
        </p>
        <div class="text-right">
          <!-- <a
            href="http://brl-project.s3-website.ap-south-1.amazonaws.com"
            target="_blank"
          > -->
          <button
            class="btn btn-primary"
            style="background-color: #1788cb; padding: 0.5rem 1rem 0.5rem 1rem;"
          >
            Coming Soon
          </button>
          <!-- </a> -->
        </div>
      </div>
    </div>
    <hr />
    <div class="row py-5 flex-column-reverse flex-md-row" data-aos="fade-right">
      <div
        class="col-md-6 px-5 pt-3 text-left"
        style="backdrop-filter: blur(5px);"
        id="app_text"
      >
        <h3 style="color: #1788bc;">Jivin App</h3>
        <p class="py-3 text-justify">
          The Jivin App is real time mobile application based on their location
          in order to treat the patients with help of plasma therapy in the lieu
          of covid pandemic. Till date there is no vaccine successfully adapted
          to treat covid patients thus, this application provides an aid to the
          paitients by registering users to request and donate(from recovered
          covid-19 paitients) for plasma therapy. This is a platform made in
          order to lessen the hassle between the doctors and paitients in the
          current scenario. The app will help to overcome the existing challenge
          of finding the donor and save lives.
        </p>
        <div class="text-right">
          <a href="https://jivin.in/" target="_blank">
            <button
              class="btn btn-primary"
              style="
                background-color: #1788cb;
                padding: 0.5rem 1rem 0.5rem 1rem;
              "
            >
              Visit
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center mt-1" id="app_img_col">
        <img id="app_image" src="../../assets/covid_app.jpeg" />
      </div>
    </div>
    <hr />
    <div class="row py-5" data-aos="fade-left">
      <div class="col-md-6 d-flex justify-content-start">
        <img src="../../assets/Group 84@2x.png" />
      </div>
      <div
        class="col-md-6 px-5 pt-3 text-left"
        style="backdrop-filter: blur(5px);"
      >
        <h3 style="color: #1788bc;">E-notice Board</h3>
        <p class="py-3 text-justify">
          E-notice Board is an online service that helps to keep track of all
          the notices issued by the college. It has two dashboards, one for
          faculty and another for an admin. Admins can upload calendar and can
          manage students and faculty. Faculty can create and update notices,
          can upload and view timetables, and can add new students. Portal also
          includes the list of holidays and academic calendar.
        </p>
        <div class="text-right">
          <!-- <a
            href="http://noticeakgec.s3-website.ap-south-1.amazonaws.com/"
            target="_blank"
          > -->
          <button
            class="btn btn-primary"
            style="background-color: #1788cb; padding: 0.5rem 1rem 0.5rem 1rem;"
          >
            Coming Soon
          </button>
          <!-- </a> -->
        </div>
      </div>
    </div>
    <hr />
    <div class="row py-5 flex-column-reverse flex-md-row" data-aos="fade-right">
      <div
        class="col-md-6 px-5 pt-3 text-left"
        style="backdrop-filter: blur(5px);"
        id="app_text"
      >
        <h3 style="color: #1788bc;">HealthCare7 App</h3>
        <p class="py-3 text-justify">
          The number of cases are increasing rapidly due to covid pandemic. In
          order to ease the current situation, we have created a healthcare7
          mobile application which provides free delivery of sanitizing spray,
          stands and masks . In the light of this situation , this application
          provides free doorstep delivery all across India.The customers can
          place orders online and the delivery may be scheduled for any time of
          the day.
        </p>
        <div class="text-right">
          <a
            href="https://play.google.com/store/apps/details?id=app.healthcare7.bly.com.health_care7&hl=en"
            target="_blank"
          >
            <button
              class="btn btn-primary"
              style="
                background-color: #1788cb;
                padding: 0.5rem 1rem 0.5rem 1rem;
              "
            >
              Visit
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center mt-1" id="app_img_col">
        <img class="img-p" id="app_image" src="../../assets/healthcare7.jpeg" />
      </div>
    </div>
    <hr />
    <div class="row py-5" data-aos="fade-left">
      <div class="col-md-6 d-flex justify-content-start">
        <img class="img-p" src="../../assets/4prosper-min.jpg" />
      </div>
      <div
        class="col-md-6 px-5 pt-3 text-left"
        style="backdrop-filter: blur(5px);"
      >
        <h3 style="color: #1788bc;">4prosper</h3>
        <p class="py-3 text-justify">
          4prosper aids in your business strategies and define your business
          objectives. Our creative designers and developers help you by creating
          the website that will assist your business plan. Our expert GST and
          accounting consultants will maintain the growth of your business.
        </p>
        <div class="text-right">
          <a href="https://www.4prosper.in/" target="_blank">
            <button
              class="btn btn-primary"
              style="
                background-color: #1788cb;
                padding: 0.5rem 1rem 0.5rem 1rem;
              "
            >
              Visit
            </button>
          </a>
        </div>
      </div>
    </div>
    <hr />
    <div class="row py-5 flex-column-reverse flex-md-row" data-aos="fade-right">
      <div
        class="col-md-6 px-5 pt-3 text-left"
        style="backdrop-filter: blur(5px);"
      >
        <h3 style="color: #1788bc;">GoRetails</h3>
        <p class="py-3 text-justify">
          GoRetails aims to deliver the fresh fruits and vegetables as well as
          grocery items at your place within the shortest span of time. It helps
          our customers to search from a wide variety of products. Besides this,
          users can find them at the reasonable rate.
        </p>
        <div class="text-right">
          <a href="http://goretails.in/" target="_blank">
            <button
              class="btn btn-primary"
              style="
                background-color: #1788cb;
                padding: 0.5rem 1rem 0.5rem 1rem;
              "
            >
              Visit
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center mt-1" id="app_img_col">
        <img class="img-p" src="../../assets/Goretails-min.jpg" />
      </div>
    </div>
    <hr />
    <div class="row py-5" data-aos="fade-left">
      <div class="col-md-6 d-flex justify-content-start">
        <img class="img-p" src="../../assets/Begros-min.jpg" />
      </div>
      <div
        class="col-md-6 px-5 pt-3 text-left"
        style="backdrop-filter: blur(5px);"
      >
        <h3 style="color: #1788bc;">Be Fresh Groceries</h3>
        <p class="py-3 text-justify">
          BeFresh – Our mission is to supply the best quality, farm-fresh fruits
          and vegetables to you at the faster rate in the current covid-19
          situation. Our user-friendly app enables our customers to order fresh
          items from the comfort of their homes at the reasonable rate.
        </p>
        <div class="text-right">
          <a
            href="http://www.befreshgroceries.com/?v=98f877c23e25"
            target="_blank"
          >
            <button
              class="btn btn-primary"
              style="
                background-color: #1788cb;
                padding: 0.5rem 1rem 0.5rem 1rem;
              "
            >
              Visit
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
