<section class="text-center my-5" id="service" width="100%">
  <div class="container align-content-center justify-content-center my-5">
    <div class="row my-1">
      <div class="col-md-12">
        <h1 style="color: #1788cb;">WHAT WE DO</h1>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-md-12">
        <h6>We Offer The Diversity Of Skills</h6>
      </div>
    </div>
    <div class="row align-content-center justify-content-center my-5">
      <div class="col-md-3" data-aos="fade-up" data-aos-duration="500">
        <div class="card my-3">
          <img
            class="card-img-top"
            src="../../assets/HumaneBlockchain@2x.png"
            class="m-3 align-self-center"
            width="100"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Blockchain Research</h5>
            <p class="card-text">
              Implementing smart contracts and integrating with the web and
              application we try to provide new soluttions.
            </p>
          </div>
        </div>
      </div>

      <div
        class="col-md-3"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="150"
      >
        <div class="card my-3">
          <img
            class="card-img-top"
            src="../../assets/WebDevelopment@2x.png"
            class="m-3 align-self-center"
            width="100"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Web Development</h5>
            <p class="card-text">
              Bridge the gap by working on both front end as well as backend and
              provide distinctive solutions to satisfy this need
            </p>
          </div>
        </div>
      </div>

      <div
        class="col-md-3 my-3"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="300"
      >
        <div class="card">
          <img
            class="card-img-top"
            src="../../assets/AppDevelopment@2x.png"
            class="m-3 align-self-center"
            width="100"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">App Development</h5>
            <p class="card-text">
              Work on different application development softwares like flutter,
              react native and NetBeans and provide the required solutions
            </p>
          </div>
        </div>
      </div>

      <div
        class="col-md-3"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="450"
      >
        <div class="card my-3">
          <img
            class="card-img-top"
            src="../../assets/UI-UX Design@2x.png"
            class="m-3 align-self-center"
            width="100"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">UI/UX Design</h5>
            <p class="card-text">
              UI/UX designing and graphic designing so as to provide an edge in
              web and application development
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
