<section id="portfolio">
  <div
    class="container container align-content-center justify-content-center my-5"

  >
    <div class="row my-1">
      <div class="col-md-12">
        <h6>PORTFOLIO</h6>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-md-12">
        <h1 style="color: #1788bc;">
          Projects Undertaken By Blockchain Research Lab
        </h1>
      </div>
    </div>
    <div class="row my-3 align-content-center justify-content-center">
      <div
        class="col-md-5 m-4"
        style="
          background-image: url(../../assets/Group68@2x.png);
          max-width: 100%;
          max-height: 100%;
          background-repeat: no-repeat;
          background-size: cover;
        "
      >
        <h3
          class="pt-5"
          style="color: white; padding-left: 3rem; padding-bottom: 10rem;"
        >
          Late Entry System
        </h3>
      </div>
      <div class="col-md-5 m-4" style="background-color: #00b856;">
        <h4 class="pt-3" style="color: white; padding-left: 1rem;">
          Semester Registration
        </h4>
        <img
          src="../../assets/Group 83@2x.png"
          style="max-width: 100%; max-height: 100%;"
        />
      </div>
    </div>
    <div class="row align-content-center justify-content-center mb-4">
      <div class="col-md-5 m-4" style="background-color: #ed2d22;">
        <h4 class="pt-3" style="color: white; padding-left: 1rem;">
          Deparmental E-Notice Board
        </h4>
        <img
          src="../../assets/Group 84@2x.png"
          style="max-width: 100%; max-height: 100%;"
        />
      </div>
      <div
        class="col-md-5 m-4"
        style="
          background-image: url(../../assets/Group184@2x.png);
          max-width: 100%;
          max-height: 100%;
          background-repeat: no-repeat;
          background-size: cover;
        "
      >
        <h4
          class="pt-4"
          style="color: white; padding-left: 1rem; padding-bottom: 10rem;"
        >
          Redesign of the site "Hi Home"
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary p-2" style="background-color: #1788cb;">
          See Our Portfolio >
        </button>
      </div>
    </div>
  </div>
</section>
