<section style="overflow-x: hidden;">
  <div class="container align-self-center justify-content-center my-5">
    <div class="row my-1">
      <div
        class="col-md-12 text-center"
        data-aos="fade-down"
        data-aos-duration="500"
        data-aos-delay="100"
      >
        <h2 style="color: #1788cb;">
          FOUNDERS
        </h2>
      </div>
    </div>
    <div
      class="row my-3"
      data-aos="fade-down"
      data-aos-duration="500"
      data-aos-delay="100"
    >
      <div class="col-md-12 text-center">
        <h6>
          The Patriarchy Of Blithe And Bonny Soul Helps To Achieve Perfection
          Assiduously In The Endeavors.
        </h6>
      </div>
    </div>
    <div
      class="row justify-content-center box-el my-5"
      style="text-align: -webkit-center;"
    >
      <div
        class="col-lg-4"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="150"
      >
        <div
          class="box m-2"
          style="
            background-image: url(https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/PrakharAgarwal.jpg);
            width: 20rem;
          "
        >
          <div class="box-inner">
            <div class="the-content-box">
              <div class="content-box-inner">
                <h3>Prakhar Agarwal</h3>
                <hr class="mb-2" />
                <p>
                  A charming personality and an altruistic application developer
                  who makes the atmosphere jovial with his carefree attitude.
                </p>
                <a
                  href="https://www.linkedin.com/in/prakhar-agarwal-7bb9a9157/"
                  target="_blank"
                >
                  <button
                    class="btn btn-primary p-2"
                    style="background-color: #1788cb;"
                  >
                    View Profile
                  </button></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="300"
      >
        <div
          class="box m-2"
          style="
            background-image: url(https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/ShaktiJaiswal.jpg);
            width: 20rem;
          "
        >
          <div class="box-inner">
            <div class="the-content-box">
              <div class="content-box-inner">
                <h3>Shakti Jaiswal</h3>
                <hr class="mb-2" />
                <p>
                  A confident and optimistic person. He is not only a designer
                  and developer but also a perfect example of a leader.
                </p>
                <a
                  href="https://www.linkedin.com/in/shakti-jaiswal-b81945178/"
                  target="_blank"
                  ><button
                    class="btn btn-primary p-2"
                    style="background-color: #1788cb;"
                  >
                    View Profile
                  </button></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="450"
      >
        <div
          class="box m-2"
          style="
            background-image: url(https://raw.githubusercontent.com/amolsr/Asset/master/Brl%20Site/ShubhSinghal.jpeg);
            width: 20rem;
          "
        >
          <div class="box-inner">
            <div class="the-content-box">
              <div class="content-box-inner">
                <h3>Shubh Singhal</h3>
                <hr class="mb-2" />
                <p>
                  He is a source of motivation and knowledge. His entrepreneur
                  skills is what make him unique. A passionate Backend developer
                  too.
                </p>
                <a
                  href="https://www.linkedin.com/in/shubh-singhal-445bb6106/"
                  target="_blank"
                  ><button
                    class="btn btn-primary p-2"
                    style="background-color: #1788cb;"
                  >
                    View Profile
                  </button></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <button
          class="btn btn-primary p-2"
          style="background-color: #1788cb;"
          routerLink="team"
        >
          Meet Our Team
        </button>
      </div>
    </div>
  </div>
</section>
