<section
  class="py-md-5"
  style="background: white 0% 0% no-repeat padding-box;"
  id="blog"
>
  <div class="container my-5">
    <div class="row" class="py-md-2">
      <div
        class="col-md-12 text-center"
        data-aos="fade-down"
        data-aos-duration="500"
        data-aos-delay="100"
      >
        <h2 style="color: #1788cb; text-align: center;">BLOG</h2>
      </div>
    </div>
    <div
      class="row py-md-2"
      data-aos="fade-down"
      data-aos-duration="500"
      data-aos-delay="100"
    >
      <div class="col-md-12">
        <h6 class="text-center">Have a Look At Our Latest Blog</h6>
      </div>
    </div>
    <div
      class="row my-5"
      style="justify-content: center; text-align: -webkit-center;"
    >
      <div
        class="col-lg-4"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="150"
      >
        <a
          href="https://medium.com/blockchain-research-lab-akgec/ethereum-developers-guide-3c3b31e72dbd"
          style="text-decoration: none;"
        >
          <div class="card border-0" style="width: 20rem;">
            <div class="d-flex" style="line-height: 1; padding: 5px;">
              <img
                src="https://cdn-static-1.medium.com/_/fp/icons/favicon-rebrand-medium.3Y6xpZ-0FSdWDnPM3hSBIA.ico"
                width="16"
                height="16"
                class="provider-favicon"
                style="display: inline;"
              />
              <span
                style="
                  display: inline-block;
                  color: #464646;
                  text-transform: uppercase;
                  font-weight: 700;
                  font-size: small;
                  line-height: normal;
                  font-family: Oxygen, Arial, 'Helvetica Neue', Helvetica,
                    sans-serif;
                  margin: 0px 10px 0px 5px;
                "
                >Medium</span
              >
              <span
                style="
                  color: gray;
                  text-transform: uppercase;
                  font-weight: 700;
                  font-size: small;
                  line-height: normal;
                  font-family: Oxygen, Arial, 'Helvetica Neue', Helvetica,
                    sans-serif;
                "
                >Amol Saini</span
              >
            </div>

            <img
              class="card-img-top"
              src="../../assets/Ethereum.png"
              alt="Card image cap"
            />
            <div class="card-body" style="padding: 0.5rem 0rem 0rem 0rem;">
              <h5 class="card-title" style="color: #1788cb;">
                Ethereum: Developer's Guide
              </h5>
              <p class="card-text text-right" style="font-size: small;">
                May 28, 2020
              </p>
            </div>
          </div>
        </a>
      </div>

      <div
        class="col-lg-4"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="300"
      >
        <a
          href="https://medium.com/blockchain-research-lab-akgec/an-introduction-to-docker-709f8fd01767"
          style="text-decoration: none;"
        >
          <div class="card border-0" style="width: 20rem;">
            <div class="d-flex" style="line-height: 1; padding: 5px;">
              <img
                src="https://cdn-static-1.medium.com/_/fp/icons/favicon-rebrand-medium.3Y6xpZ-0FSdWDnPM3hSBIA.ico"
                width="16"
                height="16"
                class="provider-favicon"
                style="display: inline;"
              />
              <span
                style="
                  display: inline-block;
                  color: #464646;
                  text-transform: uppercase;
                  font-weight: 700;
                  font-size: small;
                  line-height: normal;
                  font-family: Oxygen, Arial, 'Helvetica Neue', Helvetica,
                    sans-serif;
                  margin: 0px 10px 0px 5px;
                "
                >Medium</span
              >
              <span
                style="
                  color: gray;
                  text-transform: uppercase;
                  font-weight: 700;
                  font-size: small;
                  line-height: normal;
                  font-family: Oxygen, Arial, 'Helvetica Neue', Helvetica,
                    sans-serif;
                "
                >Vishesh Dhawan</span
              >
            </div>

            <img
              class="card-img-top"
              src="../../assets/Docker.png"
              alt="Card image cap"
            />
            <div class="card-body" style="padding: 0.5rem 0rem 0rem 0rem;">
              <h5 class="card-title" style="color: #1788cb;">
                An introduction to Docker
              </h5>
              <p class="card-text text-right" style="font-size: small;">
                May 17, 2020
              </p>
            </div>
          </div>
        </a>
      </div>

      <div
        class="col-lg-4"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="450"
      >
        <a
          href="https://medium.com/blockchain-research-lab-akgec/getting-started-with-node-js-e7d62019f23d"
          style="text-decoration: none;"
        >
          <div class="card border-0" style="width: 20rem;">
            <div class="d-flex" style="line-height: 1; padding: 5px;">
              <img
                src="https://cdn-static-1.medium.com/_/fp/icons/favicon-rebrand-medium.3Y6xpZ-0FSdWDnPM3hSBIA.ico"
                width="16"
                height="16"
                class="provider-favicon"
                style="display: inline;"
              />
              <span
                style="
                  display: inline-block;
                  color: #464646;
                  text-transform: uppercase;
                  font-weight: 700;
                  font-size: small;
                  line-height: normal;
                  font-family: Oxygen, Arial, 'Helvetica Neue', Helvetica,
                    sans-serif;
                  margin: 0px 10px 0px 5px;
                "
                >Medium</span
              >
              <span
                style="
                  color: gray;
                  text-transform: uppercase;
                  font-weight: 700;
                  font-size: small;
                  line-height: normal;
                  font-family: Oxygen, Arial, 'Helvetica Neue', Helvetica,
                    sans-serif;
                "
                >Himani Chauhan</span
              >
            </div>

            <img
              class="card-img-top"
              src="../../assets/Node.png"
              alt="Card image cap"
            />
            <div class="card-body" style="padding: 0.5rem 0rem 0rem 0rem;">
              <h5 class="card-title" style="color: #1788cb;">
                Getting Started With Node.JS
              </h5>
              <p class="card-text text-right" style="font-size: small;">
                May 11, 2020
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a
          href="https://medium.com/blockchain-research-lab-akgec"
          target="_blank"
        >
          <button
            class="btn btn-primary p-2"
            style="background-color: #1788cb;"
          >
            Read More
          </button></a
        >
      </div>
    </div>
  </div>
</section>
