<section style="background: #e7f3fa 0% 0% no-repeat padding-box;" id="team">
  <div>
    <div class="container-fluid align-self-center justify-content-center py-5">
      <div class="row h-100">
        <div
          class="col-md-6 d-flex align-self-center justify-content-center"
          data-aos="fade-down"
          data-aos-duration="1200"
          data-aos-easing="linear"
        >
          <img
            src="../../assets/DSC_0128.JPG"
            style="
              max-width: 100%;
              max-height: 100%;
              border-top-right-radius: 0.2rem !important;
              border-bottom-right-radius: 0.2rem !important;
              margin-left: -2rem;
            "
            alt=""
          />
        </div>

        <div
          class="col-md-6 my-5 d-flex align-self-center justify-content-center"
          data-aos="fade-up"
          data-aos-duration="1200"
          data-aos-easing="linear"
        >
          <div class="container w-75">
            <div class="row my-1">
              <div class="col-md-12">
                <h2 style="color: #1788bc;">
                  ABOUT US
                </h2>
              </div>
            </div>
            <div class="row my-3">
              <div class="col-md-12">
                <h6>
                  We’re passionate about building innovative products that will
                  disrupt the industry.
                </h6>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p>
                  At Blockchain Research Lab, we look forward with the
                  advancement in Blockchain technology and it's recent changes.
                  Since 2019, we’ve tried to provide a high quality service as
                  we grow, our commitment to the needs remains the key driving
                  force behind the establishment of our Lab.
                </p>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-12">
                <button
                  class="btn btn-primary p-2"
                  style="background-color: #1788cb;"
                >
                  More About Us
                </button>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
